.phone {
    color: #000000;
    margin-left: 20px;
    margin-top: 15px;
}
.calendar{
    color: #000000;
    margin-top: 15px;
}
.mail{
    color: #000000;
    margin-right: 20px;
    margin-top: 15px;
}